{% extends 'base.html' %}

{% block container %}

<div class="row">
    {% for post in posts %}
    <div class="col-sm-6 mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body | truncatechars:50 }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Read more</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}